@charset 'utf-8';
@import url('common.css');




main{}
.title{
    text-align: center;
}
.title h1{
    font-family: Constantia;
    font-size: 120px;
    color:#fff;
    margin:40px 0;
}


.bags{
    display:flex;
    justify-content: space-between;
    padding:30px 200px;
}
.bags figure{
    width:400px;
    display: flex; 
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow:hidden;
    
}
.bags figure p img{opacity: 0.9;}
.bags figure:hover p img{opacity: 0.5;}

.bags figure h2{
    width:100%;
    left:0; top:20%;
    font-family: Constantia;
    font-size:50px;
    font-weight:bold;
    position:absolute;
    text-align:center;
    color:#ddd;
    transition:.5s;
    z-index: 20;
}
.bags figure:hover h2{color:#111;}

.bags figure figcaption{
    width:100%;
    padding:0 20px;
    line-height: 1.5;
    position: absolute;
    left:0; bottom:-35%;
    color:#fff;
    transition:.5s;
}
.bags figure:hover figcaption{
    left:0; bottom:5%;
}
.bags figure a{
    color:#fff;
    text-align: right;
    font-size:20px;
}


.insta{
    margin:200px 0;
    padding:0 200px;
}
.insta p{
    font-size: 20px;
    text-align:center;
    padding-bottom:10px;
    margin-bottom:50px;
    color:#ddd;
    border-bottom: 1px solid #fff;
    
}


.insta .insta_gall{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.instagram-media{
    margin:0 100px;
    height:680px;
}



/* shopping */
.shopping{background:#222; width:100%;}
.shopping  > div{
    margin-bottom: 100px;
    padding:50px 0;
    width:100%;
    overflow: hidden;
}
.shopping h3{
    /* position:absolute; */
    width:100%;
    text-align: center;
    font-size: 60px;
    color:#fff;
    font-family: Constantia;
    border-bottom: 1px solid #ddd;
}
.shopping .product{
    display: flex;
}
/* pop up */
.shopping .product-pop{
    position:fixed;
    left:0; top:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.8);
    padding:4% 0 1% 0;
    display: flex;
    justify-content: center;
    z-index: 95;
    display: none;
}
.shopping .product-pop.active{
    display:flex;
}
.shopping .product-pop section{
    height:100%;
    /* border:1px solid #f00; */
}
/* .pop-imgs */
.shopping .product-pop .pop-imgs{
    width:57%;
    padding:0 0.5% 0 8%;
}
.shopping .product-pop .pop-imgs > p{
    width:100%; height: 62%;
    /* border:1px solid #0f0; */
    padding:0.5%;
    display: flex;
    align-items: center;
}
.shopping .product-pop .pop-imgs > p img{
    height:100%;
    object-fit:fill;
}

.shopping .product-pop .pop-imgs > div{
    width:100%; height: 38%;
    padding:0.5%;
    /* border:1px solid #00f; */
    display: flex;
    justify-content: space-between;
}
.shopping .product-pop .pop-imgs > div img{
    width:49.5%; height: 100%;
}
/* trigger */

.shopping .menu-trigger{
    position:fixed;
    z-index: 96;
    right:10%; top:12%;
    transition:.3s;
}
.shopping .menu-trigger:hover{
    transform:scale(1.2);
}
.shopping .menu-trigger span{
    background: #000;
}

.shopping .menu-trigger span:nth-of-type(1) {
	transform: translateY(4px) rotate(-45deg);
}
.shopping .menu-trigger span:nth-of-type(2) {
	transform: translateY(-4px) rotate(45deg);
}
/* .pop-detail */
.shopping .product-pop .pop-detail{
    width:43%;
    padding:0.3% 8% 0.3% 1%;
    

}
.shopping .product-pop .pop-detail > div{
    height:35%;
    background:#f2f2f4;
    padding:8%;
    
}

.shopping .product-pop .pop-detail > div p{line-height: 1.8; font-family:'Nanum Gothic'; }
.shopping .product-pop .pop-detail > div p:nth-of-type(1){font-size:2.5em;}
.shopping .product-pop .pop-detail > article{
    height:65%;
    background:#f2f2f4;
    padding:0 8%;
}
.shopping .product-pop .pop-detail > article p{line-height: 1.8;}
.shopping .product-pop .pop-detail > article ul{
    
}
.shopping .product-pop .pop-detail > article ul li{
    list-style:circle;
    margin:3% 0 1% 4%;
    font-family:'Nanum Gothic';
}










.shopping .product figure{
    background: #ddd;
    border:1px solid #aaa;
    width:300px; height:400px;
    margin:40px 2%;
    text-align: center;
    font-size:18px;

    flex:0 0 auto;
    position:relative;
    
    transition:.3s;
}
.shopping .product figure:hover{
    transform:scale(1.05);
}
.shopping .product figure > p{
    width:298px; height:200px;
    overflow:hidden;
}
.shopping .product figure > p:nth-of-type(2){
    position:absolute;
    top:35%; right:3%;
    width:50px; height:50px;
}
.shopping .product figure figcaption{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:20% 10%;
}
.shopping .product figure figcaption p:nth-of-type(3){
    font-size: .5em;
    border:1px solid #000;
}

.shopping .product figure figcaption strong{
    font-size: 25px;
    display:block;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}




















@media (max-width:480px) {
    main{}
    .title{}
    .title h1{
        font-family: Constantia;
        font-size: 50px;
        color:#fff;
        margin:0;
    }
    
    .bags{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        padding:0;

        width:100%;
    }
    .bags figure{
        width:95%;
        display: flex; 
        flex-direction:column;
        text-align: center;
        position: relative;
        overflow:visible;

        margin:20px auto;
        background:#fff;
        border-radius: 10px;
        padding:10px 0;
    }
    .bags figure p img{opacity: 1;}
    .bags figure:hover p img{opacity: 1;}
    
    .bags figure h2{
        width:100%;
        left:0; top:20%;
        font-family: Constantia;
        font-size:30px;
        font-weight:bold;
        position: static;
        text-align:center;
        color:#000;
        transition:.5s;
    }
    /* .bags figure:hover h2{color:#ddd;} */
    
    .bags figure figcaption{
        width:100%;
        padding:20px 20px;
        line-height: 1.5;
        position: static;
        left:0; bottom:-35%;
        color:#333;
        transition:.5s;
    }
    .bags figure:hover figcaption{
        left:0; bottom:5%;
    }
    .bags figure a{
        color:#fff;
        text-align: right;
        font-size:20px;
    }
    
    
    .insta{
        margin:100px 0;
        padding:0;
    }
    .insta p{
        font-size: 20px;
        text-align:center;
        padding:10px 5%;
        margin-bottom:50px;
        color:#ddd;
        border-bottom: 1px solid #fff;
        
    }
    
    
    .insta .insta_gall{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width:100%;
        overflow:hidden;
    }
    
    .instagram-media{
        margin:0 20px;
        height:680px;
    }
    
    
    
    /* shopping */
    .shopping{background:#222;}
    .shopping  > div{
        margin-bottom: 100px;
        padding:50px 0;
    
    }
    .shopping h3{
        /* position:absolute; */
        width:100%;
        text-align: center;
        font-size: 60px;
        color:#fff;
        font-family: Constantia;
        border-bottom: 1px solid #ddd;
    }
    .shopping  .product{
        display: flex;
        overflow: hidden;
    }
    .shopping div figure{
        background: #ddd;
        border:1px solid #aaa;
        width:300px; height:400px;
        margin:40px 3%;
        text-align: center;
        font-size:18px;
    }
    .shopping div figure > p{
        width:298px; height:200px;
        overflow:hidden;
    }
    
    .shopping div figure figcaption{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:20% 10%;
    }
    .shopping div figure figcaption p{}
    
    .shopping div figure figcaption strong{
        font-size: 25px;
        display:block;
        white-space:nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
    }


}




