@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* font-family:'Nanum Gothic'; */


html, body{margin:0;}
body{background-color: #111111;}
p,figure,h1,h2,h3,h4,h5,h6{margin:0;}
ul,li{list-style: none; margin:0; padding:0;}
*{
    box-sizing: border-box;
    font-family: NanumMyeongjo;
}
img{width: 100%; vertical-align: top;}
a{text-decoration: none;}
label{display: none;}

/* 공통영역 */
header{
    width:100%;
    position: fixed; top:0; z-index: 999;
    background-color: rgba(0,0,0,0.3);
}
.head{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%; height: 10%;
    padding:15px 150px;
}
.head nav{margin:0 100px;}
.head nav a{
    color:#fff;
    margin:0 20px;
}
.head .logo{width:100px; height:30px;}
.head .logo img{}


.menu{
    width:25px; height:24px;
    z-index:999;
}
.menu .nav{
    position: fixed;
    top:0;  right:-500px;
    width:400px; height:100vh;
    background:rgba(0,0,0,0.8);
    transition:.5s;
    z-index: -1;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu .nav.active{right:0; /* display:block; */}
.menu:hover .menu-trigger{transform: translateX(100px);}

.nav ul{}
.nav ul li{margin:20px 0;}
.nav ul li a{
    color:#aaa;
    font-size: 40px;
    font-family: Constantia;
    transition:.5s;
}
.nav ul li:hover a{color:#fff;}

.menu-trigger{}
.menu-trigger span{
    display:block;
    width:25px; height:3px;
    background:#fff;
    margin-bottom:5px;
    transition:.4s;
}
.menu-trigger.active span:nth-of-type(1) {
	transform: translateY(8px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
	opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
	transform: translateY(-8px) rotate(45deg);
}





footer{}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 150px;
    background: #1a1a1a;
    color:#ddd;
}

.foot div p{
    white-space: pre-line;
    text-align: center;
}


.newsletter{
    flex-direction: column;
    text-align: center;
}
.newsletter p{
    text-align:center;
    margin-bottom: 20px;
}
.newsletter p strong{
    font-size:24px;
}
.newsletter form{
    border-bottom:1px solid #ddd;
}
.newsletter input{
    background:transparent;
    border:none;
    font-size:18px;
}
.newsletter input:nth-of-type(1){} 
.newsletter input:nth-of-type(2){}

.snscountry{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* width:20%; */
}

.country{
    border:none;
    color: #ddd;
    background:transparent;
    font-size: 15px;
}

.sns{}
.snscountry p{font-size: 24px;}
.sns a{
    display:inline-block;
    width:20px; height:20px;
    background:url('../imgs/sns1.png');
    margin:20px 0 20px 13px;
}
.sns a:nth-of-type(1){}
.sns a:nth-of-type(2){background-position:-31px 0px;}
.sns a:nth-of-type(3){background-position:-63px 0px;}
.sns a:nth-of-type(4){background-position:-94px 0px;}




@media (max-width:480px) {
    header{
        width:100%;
        position: fixed; top:0; z-index: 999;
        background: #111111;
    }
    .head{
        display:flex;
        justify-content: space-between;
        align-items:center;
        width:100%; height:10%;
        padding:10px;
    }
    .head nav{margin:0 100px;}
    .head nav a{
        color:#fff;
        margin:0 20px;
    }
    .head .logo{width:100px; height:30px;}
    .head .logo img{}

    .menu{
        width:25px; height:24px;
    }
    .menu .nav{
        position: fixed;
        top:0;  right:-100%;
        width:100%; height:100vh;
        background:url('../imgs/main/menu/collection.webp') center center / cover;
        transition:.5s;
        z-index: -1;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu:hover .nav{right:0;}

    .nav ul li{margin:20px 0;}
    .nav ul li a{
        color:#111;
        font-size: 40px;
        font-family: Constantia;
        transition:.5s;
        
    }
    .nav ul li:hover a{color:#fff;}

    .menu-trigger{z-index: 999;}
    .menu-trigger span{
        display:block;
        width:25px; height:3px;
        background:#fff;
        margin-bottom:5px;
        transition:.4s;
    }
    .menu-trigger:hover span:nth-of-type(1) {
        transform: translateY(8px) rotate(-45deg);
    }
    .menu-trigger:hover span:nth-of-type(2) {
        opacity: 0;
    }
    .menu-trigger:hover span:nth-of-type(3) {
        transform: translateY(-8px) rotate(45deg);
    }


    footer{}
    .foot{
        display: block;
        justify-content: space-between;
        align-items: center;
        padding:0 10%;
        background: #1a1a1a;
        color:#ddd;
    }

    .foot div p{
        white-space: pre-line;
        text-align: center;
    }


    .newsletter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        text-align: center;
    }
    .newsletter p{
        text-align:center;
        margin-bottom: 20px;
    }
    .newsletter p strong{
        font-size:24px;
    }
    .newsletter form{
        border-bottom:1px solid #ddd;
    }
    .newsletter input{
        background:transparent;
        border:none;
        font-size:18px;
    }
    .newsletter input:nth-of-type(1){} 
    .newsletter input:nth-of-type(2){}

    .info{margin:20px 0;}




    .snscountry{
        display:flex;
        flex-direction: row;
        align-items: center;
        width:100%;
    }

    .country{
        border:none;
        color: #ddd;
        background:transparent;
        font-size: 15px;
    }

    .sns{}
    .snscountry p{font-size: 24px;}
    .sns a{
        display:inline-block;
        width:20px; height:20px;
        background:url('../imgs/sns1.png');
        margin:20px 0 20px 13px;
    }
    .sns a:nth-of-type(1){}
    .sns a:nth-of-type(2){background-position:-31px 0px;}
    .sns a:nth-of-type(3){background-position:-63px 0px;}
    .sns a:nth-of-type(4){background-position:-94px 0px;}
}
    










